/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */


#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
/*
_________________________________________                               ___________________________________
| x |     | x || x | x | x | x || x | x |                               | x | x || x | x | x | x || x |    
| x | x | | x | x | x | x | x | x | x |                               | x | x | x | x | x | x |   x   | x |
| x | x | |  x  | x | x | x | x | x |                               | x | x | x | x | x | x | x |  x  | x |
| x | x | |   x  | x | x | x | x | x |                               | x | x | x | x | x | x |    x   | x |
| x | x | |    x   | x | x | x | x | x |                               | x | x | x | x | x |   x  | x | x |
| x | x | |  x |  x |  x |    x   |  x |                               |     x    |  x |  x | | x | x | x |
*/

			bindings = <
&kp RSHFT          &kp ESC1  &kp F1   &kp F2   &kp F3   &kp F4   &kp F5   &kp F6                    &kp F7   &kp F8   &kp F9   &kp F10  &kp F11   &kp F12   &kp DEL 
&kp ESC  &kp ESC  &kp GRAVE &kp N1   &kp N2   &kp N3   &kp N4   &kp N5   &kp N6                    &kp N7   &kp N8   &kp N9   &kp N0   &kp MINUS &kp EQUAL &kp BKSP &kp HOME
&kp ESC  &kp ESC            &kp TAB  &kp Q    &kp W    &kp E    &kp R    &kp T            &kp ESC  &kp ESC  &kp ESC  &kp ESC  &kp ESC  &kp ESC   &kp ESC   &kp ESC  &kp ESC 
&kp ESC  &kp ESC            &kp CAPS &kp A    &kp S    &kp D    &kp F    &kp G            &kp ESC  &kp ESC  &kp ESC  &kp ESC  &kp ESC  &kp ESC   &kp ESC   &kp ESC  &kp ESC 
&kp ESC  &kp ESC            &kp LSHFT &kp Z    &kp X    &kp C    &kp V    &kp B                     &kp ESC  &kp ESC  &kp ESC  &kp ESC  &kp ESC   &kp ESC   &kp ESC  &kp ESC 
&kp ESC  &kp ESC            &kp LCTRL &kp LALT &kp LGUI &kp SPACE         &kp ESC                            &kp ESC           &kp ESC  &kp ESC   &kp ESC   &kp ESC  &kp ESC 
			>;
		};
	};
};