
#Copyright (c) 2020 Derek Schmell
#SPDX-License-Identifier: MIT
 
 
if SHIELD_DOOKEEB_LEFT

config ZMK_KEYBOARD_NAME
	default "DooKeeb Left"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_DOOKEEB_RIGHT

config ZMK_KEYBOARD_NAME
	default "DooKeeb Right"

endif

if SHIELD_DOOKEEB_LEFT || SHIELD_DOOKEEB_RIGHT

config ZMK_SPLIT
	default y

endif