
# Copyright (c) 2020 Derek Schmell
# SPDX-License-Identifier: MIT

config SHIELD_DOOKEEB_LEFT
	def_bool $(shields_list_contains,dookeeb_left)

config SHIELD_DOOKEEB_RIGHT
	def_bool $(shields_list_contains,dookeeb_right)