/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default {
			label = "lowercase test";
			bindings = <
				&mo 1 &mo 2
			>;
		};

		win {
			label = "this is a length test of how long the label can be";
			bindings = <
				&kp N1 &kp N2
			>;
		};

		mac {
			label = "#15&*)%😀";
			bindings = <
				&kp A &kp B
			>;
		};
	};
};